<mat-toolbar color="primary">
	<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
	<span class="pr-40">Reservations Admin</span>
	<a mat-button *ngFor="let link of links" [routerLink]="[link.route]"> {{link.title}} </a>
	<span class="spacer"></span>
	<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>person</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
<div class="main-content-wrapper">
	<router-outlet></router-outlet>
</div>
